<%= form_for @user, url: signin_path, method: :post do |f| %>

    <label>Username:</label><br>
    <%= f.text_field :username %><br>
    <label>Password::</label><br>
    <%= f.password_field :password %><br>

    <%= f.submit "Sign In" %>

<% end %>