
    /* Universal */
    
    html {
        background-image: url("https://images.pexels.com/photos/733857/pexels-photo-733857.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }

    body {
        font-family: 'Raleway', sans-serif;
        padding-bottom: 100px;
    }


    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px auto;
    }

    .navbar {
        grid-column: 1fr;
        background-color: #C6DEFF;
        vertical-align: middle;
        line-height: 50px;
    }

    .navbar a {
        text-decoration: none;
        padding: 15px;
    }

    body {
        grid-column: 1fr;
    }

    /* Welcome */

    .standalone-form {
        position: absolute;
        top: 30%;
        left: 30%;
        text-align: center;
        width: 40%;
        margin: auto;
        border: solid 1px black;
        padding-bottom: 20px;
        background-color: white;
        box-shadow: 10px 10px 8px #c4c2c2;
    }


    /* Goal show page: Task buttons */


    .check {
        background-color: white;
        border: 2px solid gray;
    }


    .delete {
        background-color: white;
        border: none;
        color: red;
   }

   .check-icon {
        cursor: pointer;
        width: 24px;
        height: 24px;
        border: none;
        display: inline-block;
        margin-right: 6px;
        transition: background-image 0.2s linear;
        background-image: url("https://image.flaticon.com/icons/svg/747/747836.svg");
        background-size: contain;
        position: relative;
        top: 2px;
        grid-column: 2 / 3;
    }


   /* Goal show page: Task container  */


  .task-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 10px;
      width: 70%;
      margin: auto;
      border: solid 1px black;
      padding-bottom: 20px;
      background-color: white;
      box-shadow: 8px 8px 6px #d9d4d4;
  }

  .task-container h2 {
      grid-column: 1 / -1;
      text-align: center;
      vertical-align: center;
    }

    hr.solid {
        border-top: 1px solid black;
        grid-column: 1 / -1;
        width: 100%;
    } 

    .task-complete {
        grid-column: 2 / 3;
    }

    .task-delete {
        grid-column: 12 / 13;
    }

    .task-date {
        grid-column: 9 / 12;
        text-align: right;
    }

    .task-description {
        grid-column: 3 / 9;
        text-align: left;
    }

    .completed-description {
        grid-column: 3 / 9;
    }

    .completed-date {
        grid-column: 9 / 12;
        text-align: right;
    }

    #overdue {
        color: red;
    }

    .note-content {
        grid-column: 2 / 12;
    }

  /* Goal show page details */


    .delete-button {
        color: red;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        padding: 10px;
    }

    .add-task-form {
        margin: auto;
        text-align: center;
        align-content: center;
        width: 350px;
    }


    .add-button {
        background-color: transparent;
        border: none;
        font-weight: bold;
    }

    .complete-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        padding: 10px;
        margin-top: 10px;
    }



  /* Goal show page: Goal list */


    h1.goal {
        text-align: center;
        display: block;
        margin: auto;
        padding: 30px;
        width: 70%;
    }

    h2.goal {
        text-align: center;
        display: block;
        margin: auto;
        padding: 30px;
        width: 70%
    }

    .goal-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 70%;
        margin: auto;
        border: solid 1px black;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        background-color: white;
        box-shadow: 8px 8px 6px #d9d4d4;
    }


    .goal-result {
        grid-column: 1 / 7;
        border-right: solid 1px black;
    }

    .goal-deadline {
        grid-column: 7 / 11;
        border-right: solid 1px black;
    }

    .goal-edit {
        grid-column: 11 / 13;
    }


    /* Goal index page */

    .goal-index-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 70%;
        margin: auto;
        border: solid 1px black;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        background-image: linear-gradient(45deg, #E8E8E8, white);   
        box-shadow: 8px 8px 6px #d9d4d4;
    }


    .goal-index-description {
        grid-column: 1 / 5;
        text-align: left;
        border-right: solid 1px black;
        padding-top: 10px;
        padding-left: 10px;
    }

    .goal-index-result {
        grid-column: 5 / 9;
        padding-top: 10px;
    }

    .goal-index-date {
        grid-column: 9 / 13;
        border-left: solid 1px black;
        padding-top: 10px;
    }

    h1.goal-index {
        text-align: center;
        display: block;
        margin: auto;
        padding: 30px;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px;
    }

    .add-goal-component {
        background-color: white;
        border: solid 1px black;
        margin: 5px;
        padding: 10px;
        width: 280px;
      }

      .smart {
          background-color: #E8E8E8;
      }

      .add-form {
          text-align: center;
      }

      /* User page */

      .task-container.user-page {
          width: 40%;
          background-color: white;
          margin-top: 5px;
      }

      .task-container.user-page.snapshot {
        width: 30%;
      }

      .task-container.task-date {
        grid-column: 9 / 13;
        text-align: right;
        padding-right: 5px;
    }

    /* Error handling */

    #error_explanation {
        color: red;
    }

    .field_with_errors input {
        border-color: red;
    }


@media screen and (max-width: 600px) {

    #logo img {
        width: 30%;
        padding: 10px;
        margin: auto;
        display: block;
    }

    #logo {
        text-align: center;
    }

    .task-container {
        width: 90%;
    }

    .goal-container {
        width: 90%;
    }

    .goal-index-container {
        width: 90%;
    }

    .task-container.user-page {
        width: 90%;
    }

    .welcome {
        position: absolute;
        top: 25%;
        left: 10%;
        width: 80%;
    }

    .task-container.user-page.snapshot {
        width: 90%;
      }

}