
    /* Universal */
    
    body {
        font-family: 'Raleway', sans-serif;
    }

    #logo img {
        width: 15%;
        padding: 10px;
        vertical-align: bottom;
    }


    /* Goal show page: Task buttons */


    .check {
        background-color: white;
        border: 2px solid gray;
    }


    .delete {
        background-color: white;
        border: none;
        color: red;
   }

   .check-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border: none;
    display: inline-block;
    margin-right: 6px;
    transition: background-image 0.2s linear;
    background-image: url("https://image.flaticon.com/icons/svg/747/747836.svg");
    background-size: contain;
    position: relative;
    top: 2px;
    grid-column: 2 / 3;
}


   /* Gaol show page: Task container  */


  .task-container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 10px;
      width: 70%;
      margin: auto;
      border: solid 1px black;
      padding-bottom: 20px;
  }

  .task-container h2 {
      grid-column: 1 / -1;
      text-align: center;
      vertical-align: center;
    }

    hr.solid {
        border-top: 1px solid black;
        grid-column: 1 / -1;
        width: 100%;
    } 

    .task-complete {
        grid-column: 2 / 3;
    }

    .task-delete {
        grid-column: 12 / 13;
    }

    .task-date {
        grid-column: 9 / 12;
        text-align: right;
    }

    .task-description {
        grid-column: 3 / 9;
        text-align: left;
    }

    .completed-description {
        grid-column: 3 / 9;
    }

    .completed-date {
        grid-column: 9 / 12;
        text-align: right;
    }

    #overdue {
        color: red;
    }

  /* Goal show page details */


    .delete-button {
        color: red;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        padding: 10px;
    }

    .add-task-form {
        margin: auto;
        text-align: center;
    }

    .add-button {
        background-color: white;
        border: none;
        font-weight: bold;
    }

    .complete-button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 12px;
        padding: 10px;
        margin-top: 10px;
    }



  /* Goal show page: Goal list */


    h1.goal {
        text-align: center;
        display: block;
        margin: auto;
        padding: 30px;
    }

    .goal-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 70%;
        margin: auto;
        border: solid 1px black;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }


    .goal-result {
        grid-column: 1 / 6;
    }

    .goal-deadline {
        grid-column: 6 / 11;
    }

    .goal-edit {
        grid-column: 11 / 13;
    }


    /* Goal index page */

    .goal-index-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        width: 70%;
        margin: auto;
        border: solid 1px black;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
    }


    .goal-index-description {
        grid-column: 1 / 5;
        text-align: left;
        border-right: solid 1px black;
        padding-top: 10px;
        padding-left: 10px;
    }

    .goal-index-result {
        grid-column: 5 / 9;
        padding-top: 10px;
    }

    .goal-index-date {
        grid-column: 9 / 13;
        border-left: solid 1px black;
        padding-top: 10px;
    }

    h1.goal-index {
        text-align: center;
        display: block;
        margin: auto;
        padding: 30px;
    }

    .add-goal-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px;
    }

    .add-goal-component {
        background-color: white;
        border-width: 2px;
        border-style: solid;
        border-color: black;
        margin: 5px;
        padding: 10px;
        width: 280px;
      }

      .add-form {
          text-align: center;
      }


@media screen and (max-width: 600px) {

    #logo img {
        width: 60%;
        padding: 10px;
        margin: auto;
        display: block;
    }

    #logo {
        text-align: center;
    }

    .task-container {
        width: 100%;
    }

    .goal-container {
        width: 100%;
    }

    .goal-index-container {
        width: 100%;
    }

}